{% extends 'base.html' %}
{% block content %}

<h1 class="text-center">Gem Details</h1>

<div class="card">
  {% for photo in gem.photo_set.all %}
    <div class="text-center">
      <img class="card-img-top border border-2 border-secondary" src="{{photo.url}}" style="width: 600px;">
    </div>
  {% empty %}
    <div class="text-center">
      <img class="card-img-top border border-2 border-secondary" style="width: 600px;" src="https://i.imgur.com/5EzN5dq.png">
    </div>
  {% endfor %}
    <div class="d-flex flex-column bd-highlight mb-3">
      <form action="{% url 'add_photo' gem.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
        {% csrf_token %}
        {% if user == gem.user %}
          <div class="text-center">
            <input class="btn btn-outline-secondary" type="file" name="photo-file">
          </div>
          <div class="text-center">
            <button class="btn btn-outline-secondary" type="submit">Upload Photo</button>
          </div>
        {% endif %}
      </form>
      {% if user == gem.user %}
        {% for photo in gem.photo_set.all %}
          <div class="text-center">
            <a class="btn btn-outline-danger" href="{% url 'photo_delete' photo.id %}">Delete</a>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="card">
    <div class ="card-content">
        <span class="card-title"> &nbsp&nbsp&nbsp {{gem.name}}</span>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Location: {{ gem.location }}</li>
          <li class="list-group-item">Latitude: {{ gem.latitude }}</li>
          <li class="list-group-item">Longitude: {{ gem.longitude }}</li>
          <li class="list-group-item">Description: {{ gem.description }}</li>
          <li class="list-group-item">Category: {{ gem.get_category_display }}</li>
        </ul>
    </div>
      <div class="text-center">
        {% if user == gem.user %}
            <a class="btn btn-outline-secondary" href="{% url 'gems_update' gem.id %}">Edit Gem</a>
            <a class="btn btn-outline-danger" href="{% url 'gems_delete' gem.id %}">Delete Gem</a>
        {% endif %}
      </div> 
</div> 

<div class="d-flex justify-content-center">
  <div class="border border-secondary border-3 w-75"id='map' width="100%" style='height:400px'></div>
</div>
<br>
<div class="container">
    <h1 class="row d-flex justify-content-center">Add Review</h1>
    <form class="row" action="{% url 'add_review' gem.id %}" method="POST">
        {% csrf_token %}
        <div class="d-flex flex-row bd-highlight align-items-end justify-content-center">
          {{ review_form.as_p }}
        </div>
        <div class="d-flex justify-content-center">
          <button class="btn btn-outline-secondary w-25" type="submit">Add Review</button>
        </div>
        &nbsp;
        <hr>
        <br>
    </form>
    <div class="row">
      <h4 class="col">Reviews</h4>
      <h4 class="col d-flex flex-row bd-highlight">Ratings</h4>
    </div>
    {% for review in gem.review_set.all %}
    <div class="row">
      <div class="col d-flex justify-content-evenly border border-secondary border-1 rounded">{{ review.content }}</div>
      <div class="col d-flex flex-row bd-highlight"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ review.get_rating_display }}</div>
    {% if user == review.user %}
      <a class="col btn btn-outline-danger" style="max-width: 70px;" href="{% url 'delete_review' review.id %}">Delete</a>
    {% endif %}
    </div>   
    {% endfor %}
  </div>
<script>
  mapboxgl.accessToken = '{{ MAP_KEY }}'
  var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v10',
      center: [{{ gem.longitude }}, {{ gem.latitude }}], // Starting position [lng, lat]
      zoom: 10, // Starting zoom level
  });
  const marker = new mapboxgl.Marker() // initialize a new marker
      .setLngLat([{{ gem.longitude }}, {{ gem.latitude }}]) // Marker [lng, lat] coordinates
      .addTo(map); // Add the marker to the map
</script>
{% endblock %}