{% extends 'base.html' %}
{% block content %}

<h1>Gem Details</h1>

<div class="card">
    <div class ="card-content">
        <span class="card-title">{{gem.name}}</span>
        <p>Image: {{ gem.image }}</p>
        <p>location: {{ gem.location }}</p>
        <p>Coordinates: {{ gem.coordinates }}</p>
        <p>Description: {{ gem.description }}</p>
        <p>Category: {{ gem.category }}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'gems_update' gem.id %}">Edit</a>
        <a href="{% url 'gems_delete' gem.id %}">Delete</a>
    </div>    
</div>

{% endblock %}