{% extends 'base.html' %}
{% block content %}

<h1>Gem Details</h1>

<div class="card">
    <div class ="card-content">
        <span class="card-title">{{gem.name}}</span>
        <p>Image: {{ gem.image }}</p>
        <p>location: {{ gem.location }}</p>
        <p>Latitude: {{ gem.latitude }}</p>
        <p>Longitude: {{ gem.longitude }}</p>
        <p>Description: {{ gem.description }}</p>
        <p>Category: {{ gem.get_category_display }}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'gems_update' gem.id %}">Edit</a>
        <a href="{% url 'gems_delete' gem.id %}">Delete</a>
    </div> 
    <div id='map' width="100%" style='height:100px'></div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoibWlrZW5vdmEiLCJhIjoiY2t6ajF0ZHd2MDVrMjJvbXE2OG0xbDg3NCJ9.q_wwOsFi-0Pbyhx5ESJfTg'
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v10',
            center: [{{ gem.longitude }}, {{ gem.latitude }}], // Starting position [lng, lat]
            zoom: 12, // Starting zoom level
        });
        const marker = new mapboxgl.Marker() // initialize a new marker
            .setLngLat([{{ gem.longitude }}, {{ gem.latitude }}]) // Marker [lng, lat] coordinates
            .addTo(map); // Add the marker to the map
    </script>
</div>
<hr>
<div class="col sm6">
    {% if object %}
        <h1>Edit</h1>
    {% else %}
        <h1>Add Review</h1>
    {% endif %}
    <form action="{% url 'add_review' gem.id %}" method="POST">
        {% csrf_token %}
        {{ review_form.as_p }}
        <input type="submit" class="btn" value="Add Review">
    </form>
    <table class="striped">
      <thead>
        <tr><th>Review</th><th>Rating</th></tr>
      </thead>
      <tbody>
        {% for review in gem.review_set.all %}
          <tr>
            <td>{{ review.content }}</td>
            <td>{{ review.get_rating_display }}</td>
          </tr>
          <div class="card-action">
            <a href="{% url 'update_review' gem.id %}">Edit</a>
            <a href="{% url 'delete_review' gem.id %}">Delete</a>
        </div> 
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}