{% extends 'base.html' %}
{% block content %}

<h1 class="text-center">Hidden Gems</h1>
{% for gem in gems %}
  <div class="d-inline-flex p-2 bd-highlight">
    <div class="card border border-dark border-2" style="width: 18rem;">
      {% for photo in gem.photo_set.all %}
        <img class="card-img-top center-align" style="height: 200px;" src="{{photo.url}}">
      {% empty %}
        <img src="https://i.imgur.com/5EzN5dq.png" class="card-img-top center-align" style="height: 200px;">
      {% endfor %}
      <div class="card-body text-center">   
        <h3 class="card-title">{{ gem.name }}</h3>
      </div>
      <div class="text-center"> 
        <p class="card-text">Location: {{ gem.location }}</p>
      </div>
      <br>
      <a class="btn btn-primary" href="/gems/{{ gem.id }}">See Details</a>
    </div>
  </div>

{% endfor %}

{% endblock %}