{% extends 'base.html' %}
{% block content %}
    <h1>Map time!</h1>
    <div id='map' width="100%" style='height:400px'></div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoibWlrZW5vdmEiLCJhIjoiY2t6ajF0ZHd2MDVrMjJvbXE2OG0xbDg3NCJ9.q_wwOsFi-0Pbyhx5ESJfTg'
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v10',
            center: [-122.25948, 37.87221], // Starting position [lng, lat]
            zoom: 12, // Starting zoom level
        });
    </script>
{% endblock %}