{% extends 'base.html' %}
{% block content %}
<br>
<h1 class="text-center" style="text-decoration-line: underline;">Time To Explore!</h1>
<div class="d-flex justify-content-center">
    <div class="border border-secondary border-3 w-75" id='map' width="100%" style='height:400px;'></div>
</div>
<script>
    mapboxgl.accessToken = '{{ MAP_KEY }}'
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v10',
            center: [-111.8910, 40.7608], // Starting position [lng, lat]
            zoom: 3, // Starting zoom level
        });

        const gems = [
            {% for gem in gems %}
                {lat: {{ gem.latitude}}, lng: {{ gem.longitude }}, name: "{{ gem.name }}" },
            {% endfor %}
        ];
        gems.forEach(function(gem) {
            new mapboxgl.Marker()
            .setLngLat([gem.lng, gem.lat]).addTo(map)
            .setPopup(
                new mapboxgl.Popup({offset: 5})
                    .setHTML(
                        `<h5>${gem.name}</h5>`
                    )
            );
        })
</script>
{% endblock %}